* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

img { 
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
